:root {
	--colorBackground: #222831;
	--colorBackgroundAlternative: #1a1e25;
	--colorBackgroundThird: #ee1e46;
	--colorMainText: #ffffff;
	--colorAlternative: #808080;
	--sectionMargin: 3rem;
}